{% extends "base.html" %}

{% block content1 %}
<link rel="stylesheet" href="/static/styles/add_group.css">
<link rel="stylesheet" href="/static/styles/main_styles.css">
{% endblock %}

{% block content2 %}
  <section>
      <div class="container">
          <div class="col">
              <h2 class="text-center"><span style="color: rgb(255, 255, 255);">Create Group</span><br></h2>
              <p class="text-center"><span style="color: rgba(255, 255, 255, 0.75);">Enter the group details below</span><br></p>
          </div>
          <div class="row">
              <div class="col">
                  <div class="card-body div-questions">
                      <br>
                      <form class="create_group_form" method="post">
                          <div class="div-questions">
                              <label for="group_name" class="label_quest">Group Name</label>
                              <input class="form-control questions" type="text" placeholder="Enter group name" id="group_name" name="group_name" required>
                          </div>
                          <br>
                          <div class="div-questions">
                              <label for="group_description" class="label_quest">Group Description</label>
                              <textarea class="form-control questions" placeholder="Enter a brief description" id="group_description" name="group_description" rows="3" required></textarea>
                          </div>
                          <br>
                          <div class="div-questions">
                              <button class="btn btn-primary d-block div-questions buttons" type="submit" style="margin: 0px auto;width: 300px;">Create Group</button>
                          </div>
                          <br>
                          <div class="div-questions">
                              <input class="btn btn-danger center buttons" type="reset" value="Reset">
                          </div>
                          <br>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section>
{% endblock %}