{% extends "base.html" %}

{% block content1 %}
<link rel="stylesheet" href="/static/styles/add_course.css">
<link rel="stylesheet" href="/static/styles/main_styles.css">
{% endblock %}

{% block content2 %}
    <main class="container my-5">
        <h2 class="text-center">Добавление курса</h2>
        <div class="form-section my-4">
            <form action="/add_course" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="courseTitle" class="form-label">Название темы</label>
                    <input type="text" class="form-control" id="courseTitle" name="courseTitle" placeholder="Введите название темы" required>
                </div>
                <div class="mb-3">
                    <label for="courseDescription" class="form-label">Краткое описание курса</label>
                    <textarea class="form-control" id="courseDescription" name="courseDescription" rows="3" placeholder="Введите краткое описание" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="courseContent" class="form-label">Текст курса</label>
                    <textarea class="form-control" id="courseContent" name="courseContent" rows="5" placeholder="Введите текст курса" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="presentationFile" class="form-label">Добавление файла презентации и/или видео</label>
                    <input class="form-control" type="file" id="presentationFile" name="presentationFile" accept=".ppt,.pptx,.pdf,.mp4,.avi">
                </div>
                <button type="submit" class="btn btn-primary buttons">Добавить курс</button>
            </form>
        </div>
    </main>
{% endblock %}