{% extends "base.html" %}

{% block content1 %}
<link rel="stylesheet" href="/static/styles/add_test.css">
<link rel="stylesheet" href="/static/styles/main_styles.css">
{% endblock %}

{% block content2 %}
    {% if res == -1 or res == -2 %}
    <section>
        <script>
            var i = 1;
            function addTaskInput() {
                const div = document.createElement('div');
                div.className = 'div-questions';
                div.innerHTML = `
                    <label for="new_task_id" class="label_quest">Введите ID задания</label>
                    <input class="form-control questions" type="number" placeholder="ID задания" id="task_input" name="task_id{{i}}" required>
                `;
    
                document.getElementById('inputContainer').appendChild(div);
            }
        </script>
        <div class="container">
            <div class="col">
                <h2 class="text-center"><span style="color: rgb(255, 255, 255);">Добавить задание</span><br></h2>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-body div-questions">
                        <form class="task_form" method="POST" onsubmit="validateForm(event)">
                            <div id="inputContainer">
                                <div class="div-questions">
                                    <label for="task_input" class="label_quest">Введите ID задания</label>
                                    <input class="form-control questions" type="number" placeholder="ID задания" id="task_input" name="task_id" required>
                                </div>
                            </div>
                            <br>
                            <div class="div-questions">
                                <button class="btn btn-primary d-block div-questions" type="button" onclick="addTaskInput()" style="margin: 0px auto;width: 300px;">Добавить задание</button>
                            </div>
                            <br>
                            {% if res == -2 %}
                            <h6 style = "color: red; text-align: center">Введите корректное ID!</h6>
                            {% endif %}
                            <div class="div-questions">
                                <button class="btn btn-success d-block div-questions" type="submit" style="margin: 0px auto;width: 300px;">Создать тест</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% else %}
    <div class="card-body div-questions">
        <h2 class="text-center">Тест успешно создан! <br> В дальнейшем к нему можно будет получить доступ по его номеру: {{res}}</h2>
        <a class="btn btn-primary buttons text-center" href="/add_test">Назад</a>
    </div>
    {% endif %}
{% endblock %}