{% extends "base.html" %}

{% block content1 %}
<link rel="stylesheet" href="/static/styles/add_task.css">
<link rel="stylesheet" href="/static/styles/main_styles.css">
{% endblock %}

{% block content2 %}
    <main class="container">
        <h1 class="text-center mb-4">Добавление задачи</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="index" class="form-label">Индекс задачи</label>
                <input type="text" class="form-control" id="index" name="index" required>
            </div>
            <div class="mb-3">
                <label for="number" class="form-label">Номер задания ЕГЭ</label>
                <input type="text" class="form-control" id="number" name="number" required>
            </div>
            <div class="mb-3">
                <label for="difficulty" class="form-label">Сложность задачи</label>
                <select class="form-select" id="difficulty" name="difficulty" required>
                    <option value="" disabled selected>Выберите сложность...</option>
                    <option value="Легко">Легко</option>
                    <option value="Средне">Средне</option>
                    <option value="Сложно">Сложно</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Текст задачи</label>
                <textarea class="form-control" id="text" name="text" rows="4" required></textarea>
            </div>
            <div class="mb-3">
                <label for="answer" class="form-label">Ответ к задаче</label>
                <input type="text" class="form-control" id="answer" name="answer" required>
            </div>
            <button type="submit" class="btn btn-primary submit-button">Добавить задачу</button>
        </form>
    </main>
{% endblock %}