{% extends "base.html" %}

{% block content1 %}
    <link rel="stylesheet" href="/static/styles/group1.css">
    <link rel="stylesheet" href="/static/styles/main_styles.css">
    <script>
        function showSection(section) {
            document.getElementById('tests-section').style.display = section === 'tests' ? 'block' : 'none';
            document.getElementById('lectures-section').style.display = section === 'lectures' ? 'block' : 'none';

            // Изменение стилей кнопок
            const testsButton = document.getElementById('tests-btn');
            const lecturesButton = document.getElementById('lectures-btn');

            if (section === 'tests') {
                testsButton.classList.remove('btn-secondary');
                testsButton.classList.add('btn-primary');
                lecturesButton.classList.remove('btn-primary');
                lecturesButton.classList.add('btn-secondary');
            } else {
                lecturesButton.classList.remove('btn-secondary');
                lecturesButton.classList.add('btn-primary');
                testsButton.classList.remove('btn-primary');
                testsButton.classList.add('btn-secondary');
            }
        }
    </script>
{% endblock %}

{% block content2 %}
    <main class="container my-5">
        <div class="ms-auto">
            <button id="tests-btn" class="btn btn-primary" onclick="showSection('tests')">Тесты</button>
            <button id="lectures-btn" class="btn btn-secondary" onclick="showSection('lectures')">Лекции</button>
        </div>
        <section id="tests-section" style="display: block;">
            <h2 class="text-center">Задания</h2>
            {% if (owner == user) %}
                <a href="{{ link }}" class="btn btn-primary">Добавить тест</a>
            {% endif %}
            <div class="row">
                {% for task in tasks %}
                <div class="col-md-12">
                    <div class="task-box">
                        <div>
                            <a href="{{ task['test_link'] }}" class="btn btn-primary">Пройти задание</a>
                            <a href="{{ task['results_link'] }}" class="btn btn-secondary">Посмотреть результаты</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <section id="lectures-section" style="display: none;">
            <h2 class="text-center">Лекции</h2>
            {% if (owner == user) %}
                <a href="/link" class="btn btn-primary">Добавить лекцию</a>
            {% endif %}
            <div class="row">
                {% for lecture in lectures %}
                <div class="col-md-12">
                    <div class="lecture-box">
                        <h5 class="lecture-title">{{ lecture["title"] }}</h5>
                        <p>{{ lecture["description"]}}</p>
                        <a href="{{ lecture['link'] }}" class="btn btn-success">Открыть лекцию</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}