{% extends "base.html" %}

{% block content1 %}
<link rel="stylesheet" href="/static/styles/home_page.css">
<link rel="stylesheet" href="/static/styles/main_styles.css">
{% endblock %}

{% block content2 %}
<main class="container my-5">
    <div class="welcome-section my-4">
        <div>
            <h1>Добро пожаловать!</h1>
            <h2>Наш образовательный ресурс. Он создан для подготовки к экзаменам. Надеюсь, вы сочтете его полезным.</h2>
        </div>
        <div class="button-column" style="border-radius: 100px">
            <a href="#courses" class="btn btn-primary mb-2 btn-lg buttons" style="width:150px; margin: 5px auto;">Лекции</a>
            <a href="#solution" class="btn btn-primary mb-2 btn-lg buttons" style="width:150px; margin: 5px auto;">Решения</a>
        </div>
    </div>
    <section id="courses" class="my-5">
        <h2 class="text-center">Лекции</h2>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 cards">
                    <div class="card-body">
                        <h3>Таблицы истинности</h3>
                        <p>Логичесие операции</p>
                        <a class="btn btn-primary buttons" href="/lec1">Перейти к курсу</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 cards">
                    <div class="card-body">
                        <h3>Графы</h3>
                        <p>Основы графов. DFS. BFS</p>
                        <a class="btn btn-primary buttons" href="/lec2">Перейти к курсу</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 cards">
                    <div class="card-body">
                        <h3>Д.П.<br></h3>
                        <p>Динамическое программирование</p>
                        <a class="btn btn-primary buttons" href="/lec3">Перейти к курсу</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="solution" class="my-5">
        <h2 class="text-center">Практика</h2>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 cards">
                    <div class="card-body">
                        <h3>Тест</h3>
                        <p>Описание теста.</p>
                        <a class="btn btn-primary buttons" href="/test">Перейти к тесту</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 cards">
                    <div class="card-body">
                        <h3>Задачи</h3>
                        <p>Описание задач.</p>
                        <a class="btn btn-primary buttons" href="/task">Перейти к задачам</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
