{% extends "base.html" %}

{% block content1 %}
<link rel="stylesheet" href="/static/styles/statistics.css">
<link rel="stylesheet" href="/static/styles/main_styles.css">
{% endblock %}

{% block content2 %}
<div class="container">
    <h1 class="text-center">Результаты учеников по заданиям</h1>

    <table class="table table-bordered">
        <thead style="text-align: center">
            <tr>
                <th>Имя ученика</th>
                {% for i in range (number_of_tasks) %}
                <th>{{ i + 1 }}</th>
                {% endfor %}
                <th>Итог (%)</th>
            </tr>
        </thead>
        <tbody style="text-align: center">
            {% for student in students %}
            <tr>
                <td>{{ student["name"] }}</td>
                {% for i in range(number_of_tasks) %}
                <td style="background-color:{% if student['results'][i] == correct_results[i] %}rgba(164, 246, 171, 0.948);{% else %} rgba(253, 161, 161, 0.948) {% endif %}; color:#2b2b2b">
                    {{ student['results'][i] }}
                </td>
                {% endfor %}
                <td style="background-color:{% if student['final_score'] < 20 %}rgb(187, 96, 104){% elif student['final_score'] < 40 %}rgb(224, 156, 54){% elif student['final_score'] < 60 %}rgb(226, 205, 43){% elif student['final_score'] < 80 %}rgb(73, 193, 101){% else %}rgb(50, 166, 77){% endif %}; color:#2b2b2b">
                    {{ student["final_score"] }}%
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot style="text-align: center">
            <tr>
                <td><strong>Итог по заданиям</strong></td>
                {% for overall_res in overall_results %}
                <td style="background-color:{% if overall_res < 20 %}rgb(187, 96, 104){% elif overall_res < 40 %}rgb(224, 156, 54){% elif overall_res < 60 %}rgb(226, 205, 43){% elif overall_res < 80 %}rgb(73, 193, 101){% else %}rgb(50, 166, 77){% endif %}; color:#2b2b2b">
                    {{ overall_res }}%
                </td>
                {% endfor %}
                <td></td>
            </tr>
        </tfoot>
    </table>
    <div class="text-center">
        <h4 style="color: rgba(255, 255, 255, 0.75);">Итоговая успеваемость по тесту: {{ overall_group_completion }}%</h4>
    </div>
</div>
{% endblock %}