<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>KEFteme</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/styles/task.css">
</head>
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-dark navbar-expand-md py-3" style="background: #2b2b2b">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="/">
                    <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">
                    </span>
                    <span style="margin-left: 5px;">
                        <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/50/EBEBEB/motarboard.png" alt="motarboard"/>
                        KEFteme</span>
                </a>
                {% if user == 1 %}
                     <div class="collapse navbar-collapse" id="navcol-4">
                        <ul class="navbar-nav ms-auto">
                            <li class="btn ms-md-2 buttons">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="btn ms-md-2 buttons">
                                <a class="nav-link" href="/signup">Sign up</a>
                            </li>
                            <li class="btn ms-md-2 buttons">
                                <a class="nav-link" href="/log_in">Log in</a>
                            </li>
                        </ul>
                    </div>
                {% elif user == 2 %}
                    <div class="collapse navbar-collapse" id="navcol-5">
                        <ul class="navbar-nav ms-auto">
                            <li class="btn ms-md-2 buttons">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="btn ms-md-2 buttons">
                                <a class="nav-link" href="/pers_cab">Personal account</a>
                            </li>
                            <li class="btn ms-md-2 buttons">
                                <a class="nav-link" href="/add_group">Add group</a>
                            </li>
                            <li class="btn ms-md-2 buttons">
                                <a class="nav-link" href="/sign_out">Sign out</a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <div class="collapse navbar-collapse" id="navcol-6">
                        <ul class="navbar-nav ms-auto">
                            <li class="btn ms-md-2 buttons">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="btn ms-md-2 buttons">
                                <a class="nav-link" href="/add_task">Add task</a>
                            </li>
                            <li class="btn ms-md-2 buttons">
                                <a class="nav-link" href="/add_course">Add course</a>
                            </li>
                            <li class="btn ms-md-2 buttons">
                                <a class="nav-link" href="/add_group">Add group</a>
                            </li>
                            <li class="btn ms-md-2 buttons">
                                <a class="nav-link" href="/sign_out">Sign out</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </nav>
    </header>
    <br><br><br><br>
    <div class="container">
        <h1 class="text-center">Задачи по темам</h1>
        <div class="form-group">
            <label for="topicSelectContainer">Выберите темы:</label>
            <div id="topicSelectContainer">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="math" id="math">
                    <label class="form-check-label" for="math">Математика</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="history" id="history">
                    <label class="form-check-label" for="history">История</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="science" id="science">
                    <label class="form-check-label" for="science">Наука</label>
                </div>
            </div>
        </div>

        <div class="form-group hidden" id="subtopicContainer">
            <h5>Выберите подтемы:</h5>
            <div id="subtopics"></div>
        </div>
        <br><br><br><br><br>
        <div class="question-container hidden" id="questionContainer">
            <h3 id="questionText"></h3>
            <input type="text" class="form-control" style="width:250px" id="answerInput" placeholder="Ваш ответ">
            <button class="btn btn-primary mt-2" style="width:250px" id="showAnswerButton">Показать правильный ответ</button>
            <div id="correctAnswer" class="mt-2 hidden"></div>
        </div>


        <button class="btn btn-secondary mt-4" id="startTestButton" disabled>Начать тест</button>
    </div>
    <script>
        const questions = {
            math: {
                question: "Сколько будет 2 + 2?",
                answer: "4",
                subtopics: {
                    "teoria_chisel": "Теория чисел",
                    "kombinatorika": "Комбинаторика",
                    "arifmetika": "Арифметика",
                    "grafy": "Графы"
                }
            },
            history: {
                question: "Кто был первым президентом США?",
                answer: "Джордж Вашингтон",
                subtopics: {
                    "drevnyaya_istoriy": "Древняя история",
                    "novaya_istoriy": "Новая история",
                    "mir_voyny": "Мировые войны"
                }
            },
            science: {
                question: "Какой химический элемент имеет символ 'O'?",
                answer: "Кислород",
                subtopics: {
                    "biologiya": "Биология",
                    "khimiya": "Химия",
                    "fizika": "Физика"
                }
            }
        };

        const topicSelectContainer = document.getElementById('topicSelectContainer');
        const subtopicContainer = document.getElementById('subtopicContainer');
        const subtopics = document.getElementById('subtopics');
        const questionContainer = document.getElementById('questionContainer');
        const questionText = document.getElementById('questionText');
        const answerInput = document.getElementById('answerInput');
        const showAnswerButton = document.getElementById('showAnswerButton');
        const correctAnswer = document.getElementById('correctAnswer');
        const startTestButton = document.getElementById('startTestButton');

        topicSelectContainer.addEventListener('change', function() {
            const selectedTopics = Array.from(document.querySelectorAll('input[type="checkbox"]:checked')).map(el => el.value);
            subtopics.innerHTML = '';            if (selectedTopics.length > 0) {
                selectedTopics.forEach(topic => {
                    for (const [key, value] of Object.entries(questions[topic].subtopics)) {
                        subtopics.innerHTML += `
                            <div class="form-check subtopic">
                                <input class="form-check-input" type="checkbox" value="${key}" id="${key}">
                                <label class="form-check-label" for="${key}">${value}</label>
                            </div>`;
                    }
                });
                subtopicContainer.classList.remove('hidden');
                startTestButton.disabled = false;
                questionContainer.classList.add('hidden');
            } else {
                subtopicContainer.classList.add('hidden');
                startTestButton.disabled = true;
                questionContainer.classList.add('hidden');
            }
        });


        startTestButton.addEventListener('click', function() {
            const selectedTopics = Array.from(document.querySelectorAll('input[type="checkbox"]:checked')).map(el => el.value);
            if (selectedTopics.length > 0) {
                const firstSelectedTopic = selectedTopics[0]; // Берем первый выбранный предмет
                questionText.textContent = questions[firstSelectedTopic].question;
                questionContainer.classList.remove('hidden');
                correctAnswer.classList.add('hidden');
            }
        });
        showAnswerButton.addEventListener('click', function() {
            const selectedTopics = Array.from(document.querySelectorAll('input[type="checkbox"]:checked')).map(el => el.value);
            if (selectedTopics.length > 0) {
                const firstSelectedTopic = selectedTopics[0]; // Берем первый выбранный предмет
                correctAnswer.textContent = "Правильный ответ: " + questions[firstSelectedTopic].answer;
                correctAnswer.classList.remove('hidden');
            }
        });
    </script>
    <footer class="text-center" style="background: #2D2D2D;">
        <div class="container text-white py-4 py-lg-5">
            <ul class="list-inline">
                <li class="list-inline-item me-4"><a class="link-light text-decoration-none" href="#">Web design</a></li>
                <li class="list-inline-item me-4"><a class="link-light text-decoration-none" href="#">Development</a></li>
                <li class="list-inline-item"><a class="link-light text-decoration-none" href="#">Hosting</a></li>
            </ul>
            <p style="color: rgba(255,255,255,0.75)">Copyright © 2024 KEFteme</p>
        </div>
    </footer>
    <!-- хуй -->
</body>
</html>