h2, h3 {
    color: rgb(105,90,44); /* Цвет заголовков */
}
.profile-section {
    margin-top: 20px;
}
.chart-container {
    width: 100%;
    max-width: 300px; /* Уменьшение размера диаграммы */
    margin: auto;
}
.profile-section {
    margin-top: 80px;
    padding: 20px;
    border-radius: 10px;
    background-color: #2b2b2b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.highlight {
    color: #f8f9fa; /* Цвет заголовков */
}
.chart-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #f8f9fa; /* Цвет заголовка диаграммы */
}
.chart-container {
    max-width: 400px;
    margin: 0 auto;
}
.list-group-item {
    background-color: #2e2e2e;
    border: none;
    color: #ffffff; /* Цвет текста в списке групп */
}
.nav-link {
    color: #ffffff; /* Цвет ссылок навигации */
}
.nav-link:hover {
    color: #f8f9fa; /* Цвет ссылок при наведении */
}
/* Цвет текста для подписей диаграммы */
.chartjs-render-monitor {
    color: #ffffff; /* Цвет текста в диаграмме */
}
.tablo {
    border: 1px solid #dddddd;
    border-radius: 0.5rem;
    background-color: #ffffff;
    min-height: 1vh;
    list-style-position: outside;
    margin-top: 1rem;
    padding: 15px 15px 15px 15px;
}